.main {
    display: flex;
    flex-direction: column;
}

.top-screen {
    display: flex;
    height: 100vh;
    background-color: rgba(138, 133, 161, 0.356);

    &__top-screen-left {
        display: flex;
        width: 50%;
    }

    &__top-screen-right {
        width: 50%;
        background-image: url("../images/front.png");
        background-position: center;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-family: Arial;

    &__top {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 0;
    }

    &__left-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__middle-column {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__address {
        margin-left: .5rem;
        color: var(--color-primary);
    }

    &__right-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__phone-number {
        padding: 1rem 2rem;
        background-color: var(--color-gray);
        color: var(--color-black);
    }

    &__bottom {
        width: 100%;
        border-top: 1px solid #B6B7A9;
    }

    &__copyright {
        width: 100%;
        text-align: center;
        padding: 1rem 0;

        &--yellow {
            color: var(--color-accent);
        }
    }
}

@media only screen and (min-width: 400px) {
    .footer {
        &__top {
            grid-template-columns: repeat(3, 1fr);
            padding: 3rem 0;
        }

        &__left-column {
            align-items: flex-start;
        }

        &__right-column {
            align-items: flex-end;
        }

        &__copyright {
            padding: 1.5rem 0;
        }
    }
}