*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/* Fix the bug that causes body go out of screen border and because of that horizontal scrolling. */
/* https://stackoverflow.com/a/42798283/5184474 */
html,
body {
  position: relative; }

html {
  font-size: 62.5%; }

/*
body {
    overflow: auto;
}
*/
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

:root {
  --color-primary: #fff;
  --color-secondary: #263137;
  --color-secondary--transparent: rgba(38, 49, 55, 0.8);
  --color-accent: #FAFF00;
  --color-gray: #B6B7A9;
  --color-black: #000;
  --color-gray--border: #ccc; }

.header {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color-secondary);
  position: relative; }

.header--us {
  display: inline-block; }

.text {
  font-size: 1.2rem;
  color: var(--color-secondary); }

.inline {
  display: inline; }

.bold {
  font-weight: bold; }

.underline {
  text-decoration: underline; }

.input {
  padding: 1rem 1rem;
  border-radius: 3px;
  border: 1px solid var(--color-gray--border); }

.input:focus {
  outline: none; }

.pointer {
  cursor: pointer; }

.mark {
  width: 100%;
  height: 8px;
  position: absolute;
  z-index: -1;
  background-color: var(--color-accent);
  padding-bottom: 1.5rem; }
  .mark--text-location {
    top: 29px;
    right: 30px;
    padding-left: 1.5rem;
    padding-right: .5rem; }
  .mark--text-contact {
    top: 29px;
    left: -4px;
    padding-left: 11rem; }
  .mark--text-us {
    top: 29px;
    right: -10px;
    padding-left: 4.5rem;
    padding-right: 0.5rem; }

@media only screen and (min-width: 400px) {
  .text {
    font-size: 1.8rem; } }
body {
  font-family: Arial, Helvetica, sans-serif; }

.container {
  display: flex;
  flex-direction: column; }

.top-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  background-color: rgba(138, 133, 161, 0.356); }
  .top-screen__top-screen-left {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--color-secondary--transparent);
    position: absolute; }
  .top-screen__top-screen-right {
    width: 100%;
    height: 100vh;
    background-image: url("../images/front.png");
    background-position: center; }

.top-screen-left__inside-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem; }
.top-screen-left__logo {
  width: 90%; }
.top-screen-left__motto {
  margin-top: 1rem;
  color: var(--color-primary); }
.top-screen-left__address-container {
  display: flex;
  margin-top: 1rem; }
.top-screen-left__location-img {
  width: 1.5rem; }
.top-screen-left__address {
  margin-left: .5rem;
  color: var(--color-accent); }
.top-screen-left__phone-container {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  margin-top: 1rem;
  border-radius: 3px;
  background-color: var(--color-accent);
  color: var(--color-secondary); }
.top-screen-left__phone-img {
  width: 1.5rem; }
.top-screen-left__phone {
  margin-left: .5rem;
  font-weight: bold; }

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem; }

.location-container {
  display: grid; }

.map {
  width: 100%;
  height: 350px;
  margin-top: 3rem; }

.please-call-text {
  margin-top: 3rem; }
  .please-call-text__link {
    color: var(--color-secondary); }

.contact-us-container {
  width: 100%;
  display: grid;
  margin-top: 3rem; }

.contact-form {
  display: grid;
  gap: 1rem;
  font-size: 1.6rem; }
  .contact-form__message {
    height: 120px; }

.send-container {
  display: flex;
  justify-content: center; }
  .send-container__text {
    width: 100%;
    padding: .8rem 2.5rem;
    background-color: var(--color-accent);
    text-align: center;
    border-radius: 3px; }
  .send-container__text--arrow {
    position: relative;
    bottom: 1.4px; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-family: Arial; }
  .footer__top {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0; }
  .footer__left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer__middle-column {
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer__address {
    margin-left: .5rem;
    color: var(--color-primary); }
  .footer__right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer__phone-number {
    padding: 1rem 2rem;
    background-color: var(--color-gray);
    color: var(--color-black); }
  .footer__bottom {
    width: 100%;
    border-top: 1px solid #B6B7A9; }
  .footer__copyright {
    width: 100%;
    text-align: center;
    padding: 1rem 0; }
    .footer__copyright--yellow {
      color: var(--color-accent); }

@media only screen and (min-width: 700px) {
  .top-screen {
    flex-direction: row; }
    .top-screen__top-screen-left {
      width: 50%;
      position: static;
      justify-content: flex-end;
      align-items: center; }
    .top-screen__top-screen-right {
      width: 50%; }

  .top-screen-left__inside-container {
    width: 80%;
    margin-right: 2rem;
    padding-bottom: 0;
    align-items: flex-start; }
  .top-screen-left__logo {
    width: 100%; }
  .top-screen-left__motto {
    font-weight: bold;
    font-size: 2.8rem; }
  .top-screen-left__address {
    font-size: 1.6rem; }

  .main {
    padding: 4rem 14rem; }

  .location-container {
    grid-template-columns: 1fr 3fr;
    gap: 3rem; }

  .map {
    height: 450px; }

  .contact-us-container {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "header contact-info" "contact-form contact-form";
    gap: 3rem; }

  .contact-form {
    grid-area: contact-form;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "name name" "contact contact" "message message" "send send"; }
    .contact-form__message {
      grid-area: message; }

  .send-container {
    grid-area: send; }
    .send-container__text {
      width: auto; }

  .footer__top {
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 0; }
  .footer__left-column {
    align-items: flex-start; }
  .footer__right-column {
    align-items: flex-end; }
  .footer__copyright {
    padding: 1.5rem 0; } }

/*# sourceMappingURL=main.css.map */
