*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/* Fix the bug that causes body go out of screen border and because of that horizontal scrolling. */
/* https://stackoverflow.com/a/42798283/5184474 */
html,
body {
  position: relative; }

html {
  font-size: 62.5%; }

html {
  font-family: Arial, Helvetica, sans-serif; }

/*
body {
    overflow: auto;
}
*/
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

:root {
  --color-primary: #fff;
  --color-secondary: #263137;
  --color-accent: #FAFF00;
  --color-gray: #B6B7A9;
  --color-black: #000; }

.main {
  display: flex;
  flex-direction: column; }

.top-screen {
  height: 100vh;
  background-color: rgba(56, 28, 218, 0.356); }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-family: Arial; }
  .footer__top {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0; }
  .footer__left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer__middle-column {
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer__address {
    margin-left: .5rem; }
  .footer__right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer__phone-number {
    padding: 1rem 2rem;
    background-color: var(--color-gray);
    color: var(--color-black); }
  .footer__bottom {
    width: 100%;
    border-top: 1px solid #B6B7A9; }
  .footer__copyright {
    width: 100%;
    text-align: center;
    padding: 1rem 0; }
    .footer__copyright--yellow {
      color: var(--color-accent); }

@media only screen and (min-width: 400px) {
  .footer__top {
    grid-template-columns: repeat(3, 1fr); }
  .footer__left-column {
    align-items: flex-start; }
  .footer__right-column {
    align-items: flex-end; }
  .footer__copyright {
    padding: 1.5rem 0; } }

/*# sourceMappingURL=main.css.map */
